/* The modal (background) */
.about {
  /* Height & width depends on how you want to reveal the overlay */
  height: 100vh;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 600; /* Sit on top */
  left: 0;
  top: 0;
  background: #fff;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.2s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  right: 0;
}

/* Position the close button (top right corner) */
.about .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 6rem;
  color: #9b70bc;
  font-weight: 400;
}
.about .close-button-div {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 650;
}

#about-header {
  height: 92vh;
  color: #340d63;
  font-size: 3vw;
  font-weight: 900;
  margin-left: 7vw;
  margin-right: 23vw;
  position: relative;
}

#about-header h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#about-main {
  height: 200vh;
  background: #672aa9;
  position: relative;
  color: #fff;
}

#main-background {
  position: absolute;
  margin: 0;
  text-align: center;
  font-size: 17vw;
  word-spacing: -7vw;
  color: #4b1d82;
  margin-top: 5rem;
}

#about-footer {
  background: #672aa9;
  height: 100vh;
  color: #fff;
}

#footer-background {
  position: absolute;
  margin: 0;
  text-align: center;
  font-size: 17vw;
  letter-spacing: 2vw;
  color: #4b1d82;
  margin-top: 5rem;
}
