/* The modal (background) */
.about {
  /* Height & width depends on how you want to reveal the overlay */
  height: 100vh;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 600; /* Sit on top */
  left: 0;
  top: 0;
  background: #fff;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.2s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  right: 0;
}

/* Position the close button (top right corner) */
.about .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 6rem;
  font-weight: 400;
  color: #9b70bc;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

.about .closebtn:hover {
  -webkit-transform: rotate(540deg);
  transform: rotate(540deg);
}

.about .close-button-div {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 650;
}

#about-header {
  height: 92vh;
  color: #340d63;
  font-size: 2.5vw;
  font-weight: bold;
  margin-left: 10vw;
  margin-right: 20vw;
  position: relative;
}

#about-header h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#about-main {
  height: 1200px;
  background: #672aa9;
  position: relative;
  color: #fff;
}

#about-main p {
  color: #fff;
}

#main-background {
  position: absolute;
  margin: 0;
  text-align: center;
  font-size: 17vw;
  word-spacing: -7vw;
  color: #4b1d82;
  margin-top: 60px;
  font-weight: bold;
}

#main-planet {
  background-image: url(../images/about-planet.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 550px;
  width: 550px;
  margin-top: 550px;
}

#main-content {
  position: absolute;
  margin-left: 30vw;
  margin-right: 10vw;
}

#main-text {
  font-size: 1.3rem;
  line-height: 200%;
  margin: 100px 0;
}

#main-who,
#main-what {
  margin-left: 20vw;
  margin-bottom: 100px;
  font-weight: bold;
  letter-spacing: 10px;
}

#main-who h2,
#main-what h2 {
  font-size: 1.3rem;
  line-height: 200%;
}

#main-who p,
#main-what p,
#main-what li {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 150%;
}

#main-what ul {
  list-style-type: square;
}

#main-what li {
  margin-bottom: 1rem;
}

#about-footer {
  background: #672aa9;
  height: 100vh;
  color: #fff;
  position: relative;
}

#footer-background {
  position: absolute;
  margin: 0;
  text-align: center;
  font-size: 17vw;
  letter-spacing: 2vw;
  color: #4b1d82;
  margin-top: 60px;
  font-weight: bold;
}

#footer-content {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#about-footer p {
  margin-left: 30vw;
  margin-right: 10vw;
  color: #fff;
  line-height: 200%;
}

#links {
  margin: 0 10vw;
  margin-top: 30vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#links a {
  color: #fff;
  position: relative;
}

#links a:hover {
  color: #e4a2a0;
}

#links a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.1s ease-in-out;
  margin-bottom: -15px;
}

#links a:hover:before {
  visibility: visible;
  height: 4px;
}

#link-bar {
  background: #fff;
  width: 35vw;
  height: 4px;
}

@media screen and (max-width: 768px) {
  #main-background {
    font-size: 27vw;
    line-height: 150px;
    margin-top: 20px;
  }

  #about-main {
    height: 1500px;
  }

  #main-content {
    margin-top: 60px;
    position: absolute;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  #main-planet {
    background-image: url(../images/about-planet.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 350x auto;
    width: 100vw;
    margin-top: 500px;
  }

  #main-text {
    margin-bottom: 30vh;
  }

  #main-who,
  #main-what {
    margin-left: 0vw;
    margin-right: 0vw;
    margin-bottom: 50px;
    font-weight: bold;
  }

  #footer-content p {
    margin-top: 60px;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  #link-bar {
    display: none;
  }
}
