html,
body {
  margin: 0px;
  background-color: #fff;
  overflow-x: hidden;
  max-width: 100%;
  height: auto;
}

.top-index,
.middle-index,
.bottom-index {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

/* Second part */

.middle-index {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.description {
  width: 40vw;
  margin-right: 10vw;
}

/* Third part */

#bottom-index {
  position: relative;
}

#about,
#works {
  position: absolute;
  width: 16px;
  height: auto;
  word-wrap: break-word;
  z-index: 500;
}

#about {
  bottom: 1em;
  left: 1em;
}

#works {
  top: 1em;
  right: 1em;
}

/* Responsive */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .description {
    width: 90vw;
    margin-right: 5vw;
  }
}
