#space-scene {
  position: relative;
  background-color: #191229;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#space-scene img {
  position: absolute;
  max-width: 100%;
}
