#space-scene {
  position: relative;
  background-color: #191229;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#space-scene img {
  position: absolute;
  object-fit: fill;
  max-width: 115vw;
  max-height: auto;
  object-position: center;
}

/* image positioning */

#bg {
  bottom: 80px;
  right: 10px;
}

#planet,
#ground,
#person,
#particles-small,
#particles-big,
#flare {
  bottom: -120px;
}

/* Curve */

.curve-section {
  position: relative;
  width: 100%;
  height: calc(100% - 200px);
  background: white;
}

.curve {
  position: absolute;
  bottom: -200px;
  height: 200px;
  width: 100%;
  transform-origin: top;
  z-index: 99;
}

.curve img {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #planet,
  #ground,
  #person,
  #particles-small,
  #particles-big,
  #flare {
    bottom: -80px;
    right: -200px;
  }

  #space-scene img {
    max-width: 180vw;
  }
}
