@font-face {
  font-family: "JetBrainsMono";
  src: url("./Fonts/JetBrainsMono-Regular.eot");
  src: url("./Fonts/JetBrainsMono-Regular.woff") format("woff"),
    url("./Fonts/JetBrainsMono-Regular.woff2") format("opentype");
  src: url("./Fonts/JetBrainsMono-Bold.eot");
  src: url("./Fonts/JetBrainsMono-Bold.woff") format("woff"),
    url("./Fonts/JetBrainsMono-Bold.woff2") format("opentype");
}

* {
  font-family: "JetBrainsMono", Arial, sans-serif;
}

p {
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
  color: #3c4f76;
}

a {
  text-decoration: none;
}

#works,
#about {
  color: #fff;
  padding: 1rem 1.7rem;
  border: 4px solid #fff;
  font-size: xx-large;
}

#about:hover {
  background-color: #ffc3c1;
  border: 4px solid #ffc3c1;
  color: #fff;
}

#works:hover {
  background-color: #2b0059;
  border: 4px solid #2b0059;
  color: #fff;
}
