@font-face {
  font-family: "JetBrainsMono";
  src: url("./Fonts/JetBrainsMono-Medium.eot");
  src: url("./Fonts/JetBrainsMono-Medium.woff") format("woff"),
    url("./Fonts/JetBrainsMono-Medium.woff2") format("opentype");
}

* {
  font-family: "JetBrainsMono", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: x-large;
}

.description {
  display: block;
  float: right;
  width: 50vw;
  top: 0%;
  bottom: 0%;
}

a {
  text-decoration: none;
  color: black;
  padding: 0.4em 0.8em;
  border: 4px solid black;
}

a:hover {
  background-color: black;
  color: #feebd6;
}
