/* The modal (background) */
.works {
  /* Height & width depends on how you want to reveal the overlay */
  height: 100vh;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 600; /* Sit on top */
  left: 0;
  top: 0;
  background: rgb(228, 162, 160);
  background: linear-gradient(
    141deg,
    rgba(228, 162, 160, 1) 0%,
    rgba(43, 0, 89, 1) 100%
  );
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.3s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  right: 0;
}

/* Position the close button (top right corner) */
.works .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 60px;
  color: white;
}
.works .close-button-div {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.works-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
}

.works-content .work-content {
  display: none;
}

.work1:hover .work-content,
.work2:hover .work-content,
.work3:hover .work-content,
.work4:hover .work-content,
.work5:hover .work-content,
.work6:hover .work-content {
  height: 60%;
  display: block;
  flex-direction: column;
  position: relative;
}

.work-content p {
  font-size: large;
}

.works-content div h2,
.works-content div h3,
.works-content div p,
.works-content a {
  margin: 25px 25px 0px 25px;
  color: white;
}

.works-contentdiv h3 {
  margin-bottom: 0;
}

.work-content a {
  position: absolute;
  border: white 2px solid;
  padding: 0.2rem 0.5rem;
  text-align: center;
  bottom: 25px;
  left: 0;
  right: 0;
}

.works-content div {
  height: 50vh;
  width: calc(100 / 3) vw;
}

.works-content div:hover {
  box-shadow: inset 0 0 0 100vw rgba(90, 60, 120, 0.7);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.work1:hover {
  background-image: url(../images/work-videos/theleek.gif);
}

.work2:hover {
  background-image: url(../images/work-videos/fairvote.png);
  animation: bgmove ease-in-out 10s infinite reverse;
  -webkit-animation: bgmove ease-in-out 10s infinite reverse;
}

.work3:hover {
  background-image: url(../images/work-videos/tictactoe.gif);
}

.work4:hover {
  background-image: url(../images/work-videos/zombie.gif);
}

.work5:hover {
  background-image: url(../images/work-videos/cpar.gif);
}

.work6:hover {
  background-image: url(../images/work-videos/bee.gif);
}

.work1 {
  grid-area: 1 / 1 / 2 / 2;
}
.work2 {
  grid-area: 1 / 2 / 2 / 3;
}
.work3 {
  grid-area: 1 / 3 / 2 / 4;
}
.work4 {
  grid-area: 2 / 1 / 3 / 2;
}
.work5 {
  grid-area: 2 / 2 / 3 / 3;
}
.work6 {
  grid-area: 2 / 3 / 3 / 4;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-width: 768px) {
  #space-scene {
    display: none;
  }

  #space-mobile {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url(../images/space-scene/final.JPG);
    background-size: cover;
    background-position: center;
  }

  .works a {
    font-size: 20px;
  }
  .works .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .works-content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    overflow: visible;
  }
  .works-content div {
    width: 100vw;
    height: 50vh;
  }

  .work1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .work2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .work3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .work4 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .work5 {
    grid-area: 5 / 1 / 6 / 2;
  }
  .work6 {
    grid-area: 6 / 1 / 7 / 2;
  }
}

/* static background images animation */

@keyframes bgmove {
  from {
    background-position: top;
  }
  50% {
    background-position: bottom;
  }
  to {
    background-position: top;
  }
}

@-webkit-keyframes bgmove
/* Safari and Chrome */ {
  from {
    background-position: top;
  }
  50% {
    background-position: bottom;
  }
  to {
    background-position: top;
  }
}
